<div class="challenge panel">
    <span class="challenge__title panel-heading">{{$ctrl.challenge.name}}</span>
    <div class="challenge__body panel-body">
        <p class="challenge__description" ng-bind-html="$ctrl.challenge.description"></p>
        <div class="question__block">
            <form name="challengeForm" class="form-horizontal">
                <div ng-repeat="option in $ctrl.challenge.options" class="radio" ng-if="$ctrl.challenge.type === 'radio'">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-model="$ctrl.choice" ng-value="option"/>
                        {{option.content}}
                    </label>
                </div>
                <div class="form-group" ng-if="$ctrl.challenge.type === 'text'">
                    <label for="inputPassword3" class="col-sm-3 control-label">Answer</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword3" ng-model="$ctrl.choice" placeholder="What would Phil do?">
                    </div>
                </div>
                <button class="btn btn-default pull-right" ng-click="$ctrl.choice && $ctrl.onSubmit($ctrl.choice)">Submit</button>
            </form>

        </div>
    </div>
</div>
