.challenge {
    background-color: #ddd;
    overflow: hidden;

    &__slider {
        width: 300%;
        transform: translate(-33%, 0);
        transition: transform 0.3s ease;
    }

    &__title {
        display: block;
        font-size: 2em;
    }

    &__description {
        padding: 10px;
        font-size: 1.1em;
    }
}

.slider__block {
    width: 33%;
    padding: 0 10px 0 10px;
    display: inline-block;
}