.challenge {
    min-width: 200px;
    max-width: 400px;
    background-color: #ddd;

    &__title {
        display: block;
        font-size: 2em;
    }

    &__description {
        padding: 10px;
        font-size: 1.1em;
    }
}