<div class="jumbotron text-center">
    <h1>Helping you get hired.</h1>
</div>

<za-challenge challenge="HomeCtrl.challenge" on-answer="HomeCtrl.onAnswer"></za-challenge>
<div class="row">
<za-pointofcontact class="col-md-6">
    <card-title>YO</card-title>
    <card-body>Wassup</card-body>
</za-pointofcontact>
</div>

<div class="row">
<za-card class="col-md-3">
    <card-title>Want a reminder to follow up?</card-title>
    <card-body>We got your back!</card-body>
</za-card>
<za-card class="col-md-9">
    <card-title>Challenges</card-title>
    <card-body>The more challenges you do, the better you'll look to your prospective employer!</card-body>
</za-card>
<za-card class="col-md-6">
    <card-title>Hey</card-title>
    <card-body>Now</card-body>
</za-card>
<za-card class="col-md-6">
    <card-title>Hey</card-title>
    <card-body>Now</card-body>
</za-card>
</div>

<form name="submitNumberForm" class="form-horizontal">
    <div >
        <label>
            <input type="text" name="submitNumber" id="submitNumber">
            <button id="sumbitNumberBtn" ng-submit="HomeCtrl.submitNumber"
        </label>
    </div>
</form>
