<div class="jumbotron text-center">
    <h1>Helping you get hired.</h1>
</div>


<div class="flex-rows">
    <za-challenge challenges="HomeCtrl.challenges" on-answer="HomeCtrl.onAnswer" class="col-md-4 col-xs-12"></za-challenge>
    <za-card class="col-md-8 col-xs-12 flex">
        <card-title>Here's where you're at with {{HomeCtrl.job.company}}</card-title>
        <card-body>
            <ul class="list-style">
            <li><strong>Successful Challenges:</strong> {{HomeCtrl.status.challenges}}</li>
            <li><strong>Receiving Reminders:</strong> {{HomeCtrl.status.subscribed? 'Yep!' : 'Not yet'}}</li>
            <li><strong>Reached out:</strong> {{HomeCtrl.status.contacted? 'Yep!' : 'Not yet'}}</li>
            </ul>
            

        </card-body>
    </za-card>
    <za-card class="col-md-3 col-xs-12 flex">
        <card-title>Want a reminder to follow up?</card-title>
        <card-body>We got your back!</card-body>
    </za-card>
    <za-card class="col-md-9 col-xs-12 flex">
        <card-title>Challenges</card-title>
        <card-body>The more challenges you do, the better you'll look to your prospective employer!</card-body>
    </za-card>
    <za-card class="col-md-6 col-xs-12 flex">
        <card-title>Hey</card-title>
        <card-body>Now</card-body>
    </za-card>
    <za-card class="col-md-6 col-xs-12 flex">
        <card-title>Hey</card-title>
        <card-body>Now</card-body>
    </za-card>
</div>
